html{
    margin: 0;
    padding: 0; 
    background-color: lightgray;
}

body{
    font-family:Arial;
    font-weight: 400;
    margin: 10px;
    padding: 0;
}

#header{
    background-color: #333333;
    color: red;
    text-align: center;
    min-height: 130px;
 }

 #title{
    text-decoration: underline;
    font-family: tahoma; 
    font-weight: 700; 
    font-size: 38px; 
    padding-top: 40px;
}

 .navigationMenu ul {
    list-style-type: none;
    font-family:Arial;
    font-weight: 400;
}

.navigationMenu li {
    display: inline-block;
    color: white;
    text-decoration: underline;
    margin: 7px;
    font-size: 25px;
}

#navBox{
    background-color: #333333;
    float: right;
    color: white;
    text-align: center;
    min-height: 50px;
    margin-top: 17px;
    margin-right: 80px;
    padding-right: 60px;
    margin-left: 90px;
}

#intro{
    background-color: #333333;
    color: white;
    width: 65%;
}

#introduction{
    text-align: center;
}

#navigation{
    padding-left:25px;
    font-family:Arial;
    font-weight:400;
}

.videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contentSection{
    display: flex;
}

@media screen and (max-width: 600px) {
    #navBox{
        background-color: purple;
    }
    
}